h1 {
  color: white;
  font-size: 1.5rem;
  padding: 0.5rem;
}

h3 {
  color: red;
}

img {
  width: 60%;
}

p {
  color: white;
  font-size: 0.9rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  padding-bottom: 0.3rem;
}

.body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.classComponent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 70vw;
  height: 60vh;
  border: solid 1px white;
  border-radius: 10px;
  margin-top: 2rem;
}

.description {
  display: flex;
  align-items: center;
  justify-content: center;
}

.foot {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.5rem;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  display: flex;

  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.title-description {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media (min-width: 768px) {
  h1 {
    font-size: 2rem;
    padding-bottom: 1.5rem;
  }

  h3 {
    font-size: 1.7rem;
  }
  img {
    width: 25%;
    margin-bottom: 1rem;
  }

  p {
    font-size: 1.2rem;
    padding-bottom: 1.5rem;
  }
  .body {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .classComponent {
    height: 40vh;
  }
}

@media (min-width: 900px) {
  img {
    width: 70%;
    margin-bottom: 1rem;
  }
  .card {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .classComponent {
    height: 60vh;
  }
}
