html,
body {
  min-height: 100%;
  background-color: black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bodyClass {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}
